*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--color-2);
}

:root {
    --color-1: #b1defb;
    --color-2: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    padding-bottom: 20px;
}

header {
    height: 100px;
    background-color: var(--color-1);

    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-template-areas: ". logo menu-icon";
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    grid-area: logo;
    display: grid;
    place-content: center;
    place-items: center;
}

.logo img {
    height: 80px;
}

.menu-icon {
    grid-area: menu-icon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    padding-right: 20px;
    width: 100%;
    cursor: pointer;
    display: none;
}

.menu-icon > div {
    width: 100%;
    height: 5px;
    background-color: var(--color-2);
}

.menu-icon:hover > div {
    height: 6px;
}

.background-image {
    background-image: url("./images/bg-portrait.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.card-container.intro {
    padding-top: 40px ;
    padding-bottom: 100px;
    padding-inline: 30px; 
}

section.card {
    place-content: center;
    width: 100%;

    background-color: var(--color-1);
    padding: 50px 10px;
    border-radius: 20px;

    gap: 1.7rem;
}

.intro .card {
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.6);
    place-items: center;
}

section.card,
.buttons {
    display: flex;
    flex-direction: column;
}

.card > .heading {
    font-size: 2em;
    text-align: center;
}

.card > .description {
    text-align: center;
}

#email-form {
    width: 100%;
    padding: 0 30px;
}

.buttons {
    text-align: center;
    width: 90%;
    padding: 0 30px;
    gap: 1rem;
}

input#email:focus {
    border: 1px solid red;
}

.button-1,
.button-2,
input#email {
    all: unset;
    width: 100%;
    padding: 0 30px;
    height: 50px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: white;
}

.buttons > button {
    font-weight: bold;
}

.buttons > button:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

.button-1 {
    background-color: var(--color-2);
    color: var(--color-1);
}

.button-2 {
    border: 2px solid var(--color-2);
    color: var(--color-2);
}

.learn-more {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Oswald", sans-serif;
}

.learn-more .card-container {
    padding: 0 10px;
}

.learn-more .card {
    border: 2px solid var(--color-2);
    padding: 50px 30px;
}

.learn-more h2 {
    text-transform: uppercase;
    font-size: 3rem;
    line-height: 100%;
    font-weight: 600;
}

.card > div {
    position: relative;
}

.color-3 {
    color: grey;
}
