*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

header {
    height: 100px;
    background-color: #b1defb;

    display: grid;
    grid-template-columns: 60px 1fr 60px;
    grid-template-areas: ". logo menu-icon";
    justify-content: center;
    align-items: center;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.logo {
    grid-area: logo;
    display: grid;
    place-content: center;
    place-items: center;
}

.logo img {
    height: 80px;
}

.menu-icon {
    grid-area: menu-icon;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    padding-right: 20px;
    width: 100%;
    cursor: pointer;
}

.menu-icon > div {
    width: 100%;
    height: 5px;
    background-color: #333333;
}

.menu-icon:hover > div {
    height: 6px;
}

main {
    background-color: #333333;
    min-height: 100vh;
}

.background-image {
    background-image: url("./images/bg-portrait.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.card-container {
    padding: 50px 30px;
}

section.card {
    display: grid;
    place-content: center;
    place-items: center;
    width: 100%;

    background-color: #b1defb;
    padding: 50px 10px;
    border-radius: 20px;

    gap: 1.7rem;
}

section.card,
.buttons {
    display: flex;
    flex-direction: column;
}

.card > .heading {
    font-size: 2em;
    text-align: center;
}

#email-form {
    width: 100%;
    padding: 0 30px;
}

.buttons {
    text-align: center;
    width: 90%;
    padding: 0 30px;
    gap: 1rem;
}

input#email:focus {
    border: 1px solid red;
}

.button-1,
.button-2,
input#email {
    all: unset;
    width: 100%;
    padding: 0 30px;
    height: 60px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: white;
}

.buttons > button:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}
